# Listas

In [24]:
#Habilitar intellisense
%config IPCompleter.greedy = True

In [1]:
#Secuencia de item
print(len([]))
print(bool([]))  # False
colores_bandera = ['rojo', "amarillo", 'verde'] # colores_bandera[2] = colores_bandera[-1]
print(colores_bandera)
print(colores_bandera[2], colores_bandera[-2 // 2])
print(colores_bandera[-3])
matriz = [ [1,2] , [3,4] ]
print(matriz[0][1])
print(matriz[1][1])
print(matriz[-1][-2])

0
False
['rojo', 'amarillo', 'verde']
verde verde
rojo
2
4
3

In [2]:
#CRUD
marcas_automoviles = ['toyota','ford','fiat']

print(marcas_automoviles)
marcas_automoviles.append('ferrari')
print(marcas_automoviles)
marcas_automoviles.insert(0,'audi')
print(marcas_automoviles)

marcas_automoviles[4] = 'mazda'
print(marcas_automoviles)

del marcas_automoviles[4]
print(marcas_automoviles)
marcas_automoviles.remove('ford')
print(marcas_automoviles)
marcas_automoviles.pop(0)
print(marcas_automoviles)
print(marcas_automoviles.index('fiat'))
copia_marcas = marcas_automoviles.copy()
marcas_automoviles.clear()
print(marcas_automoviles)
print(copia_marcas)

['toyota', 'ford', 'fiat']
['toyota', 'ford', 'fiat', 'ferrari']
['audi', 'toyota', 'ford', 'fiat', 'ferrari']
['audi', 'toyota', 'ford', 'fiat', 'mazda']
['audi', 'toyota', 'ford', 'fiat']
['audi', 'toyota', 'fiat']
['toyota', 'fiat']
1
[]
['toyota', 'fiat']

In [27]:
marcas_automoviles = ['toyota','ford','fiat', 'ford']
marcas_automoviles.remove('ford')
print(marcas_automoviles)

marcas_automoviles.index('foat')

['toyota', 'fiat', 'ford']

ValueError: 'foat' is not in list

In [3]:
#Ordenamiento
marcas_automoviles = ['toyota','ford','fiat']
print(sorted(marcas_automoviles))
print(marcas_automoviles)
marcas_automoviles.sort() #SHIFT+TAB dentro de los ()?
print(marcas_automoviles)
marcas_automoviles.reverse()
print(marcas_automoviles)
print(list(reversed(marcas_automoviles))) #[valores...] list()
print([reversed(marcas_automoviles)]) #Lista con un puntero/referencia a un objeto
print(marcas_automoviles)

['fiat', 'ford', 'toyota']
['toyota', 'ford', 'fiat']
['fiat', 'ford', 'toyota']
['toyota', 'ford', 'fiat']
['fiat', 'ford', 'toyota']
[<list_reverseiterator object at 0x00000204AC8BA910>]
['toyota', 'ford', 'fiat']

In [4]:
#CUIDADO!: La identacion forma bloques de codigo
#Un valor definido en una celda anterior aun esta disponible
#marcas_automoviles.append('volkswagen')
#for marca in marcas_automoviles {
#    print("\t",  marca)
#print("\t", len(marca))
#}   
for marca in marcas_automoviles:
    pass
    print("\t",  marca)
    print("\t", len(marca))
print("Fin loop")

# C#
# if () {
    
# }

#Python
# if <condition>
#     pass

	 toyota
	 6
	 ford
	 4
	 fiat
	 4
Fin loop

In [5]:
print(min([1, 2, 3, 4, 5, 6, 7, 8, 9, 0]))
print(max([1, 2, 3, 4, 5, 6, 7, 8, 9, 0]))

0
9

In [6]:
marcas_automoviles

['toyota', 'ford', 'fiat']

## __[List Comprehensions](https://realpython.com/list-comprehension-python/)__

In [7]:
marcas_mays = []
# marcas_mays = list()
for marca in marcas_automoviles:
    if len(marca) > 4:
       marcas_mays.append(len(marca.upper()))
    
print(marcas_mays)

[6]

In [31]:
#https://j2logo.com/list-comprehensions-en-python/
#Se emplean para crear nuevas listas a partir de otros Iterables. 
#Retorna una lista. [ expresion for-loop expresion-filtro ]
marcas_mays = [ len(marca.upper()) for marca in marcas_automoviles if len(marca) > 4 ]
print(marcas_mays)

[6]

In [33]:
marcas_mays = [marca.upper() for marca in marcas_automoviles if len(marca) > 4]
print(marcas_mays)

['TOYOTA']

In [34]:
marcas_mays = []
# marcas_mays = list()
for marca in marcas_automoviles:
    if len(marca) > 4:
       marcas_mays.append(marca.upper())
print(marcas_mays)

['TOYOTA']

In [35]:
marcas_mays = [marca.upper() for marca in marcas_automoviles]
print(marcas_mays)

['TOYOTA', 'FIAT', 'FORD']

In [36]:
#√çndices y secciones (slicing) de una lista
#https://railsware.com/blog/python-for-machine-learning-indexing-and-slicing-for-lists-tuples-strings-and-other-sequential-types/
marcas_automoviles = ['audi', 'toyota', 'ford', 'fiat', 'ferrari']
print(marcas_automoviles[1:3])
print(marcas_automoviles[:3])
print(marcas_automoviles[2:])
copia = marcas_automoviles[:]
print(copia)

['toyota', 'ford']
['audi', 'toyota', 'ford']
['ford', 'fiat', 'ferrari']
['audi', 'toyota', 'ford', 'fiat', 'ferrari']

## Tuplas

In [9]:
#Colecci√≥n inmutable de valores
altitud_lapaz = ('la paz',3600.0)
print(altitud_lapaz) # el par√°metros es una tupla
print(*altitud_lapaz) # aqui se pasan 2 par√°metros: 'la paz',3600.0
print('la paz', 3600.0)
print(('la paz', 3600.0))

('la paz', 3600.0)
la paz 3600.0
la paz 3600.0
('la paz', 3600.0)

In [10]:
ciudad, altitud = altitud_lapaz
print(ciudad)
print(altitud)

la paz
3600.0

In [11]:
colores_bandera = tuple(['rojo', 'amarillo', 'verde'])
colores_bandera

('rojo', 'amarillo', 'verde')

In [12]:
"rojo" in colores_bandera

True

In [13]:
"azul" not in colores_bandera

True

In [14]:
#del colores_bandera[0]
colores_bandera[0] = "Rojo"
#colores_bandera.pop()

TypeError: 'tuple' object does not support item assignment

## Range

In [23]:
#https://docs.python.org/3/library/functions.html#func-range
print(range(1,5))
print(*range(1,5))
print(1,2,3,4)
print(list(range(1,5)))
for numero in range(1,5):
    print('\t',numero)

pares = list(range(2, 11, 2))
print(pares)

range(1, 5)
1 2 3 4
1 2 3 4
[1, 2, 3, 4]
	 1
	 2
	 3
	 4
[2, 4, 6, 8, 10]

## El operador ```*``` con cadenas listas y tuplas

In [8]:
"Hola" * 2

'HolaHola'

In [9]:
["Hola", "Mundo"] * 2

['Hola', 'Mundo', 'Hola', 'Mundo']

In [6]:
("Hola", "Mundo") * 2

('Hola', 'Mundo', 'Hola', 'Mundo')

## Referencias

- [5 Powerful Python One-Liners You Should Know](https://levelup.gitconnected.com/5-powerful-python-one-liners-you-should-know-469b9c4737c7)
- [Estructuras de datos](https://aprendepython.es/core/datastructures/)